
<div class="coins-row">
  <div class="coin" data-tooltip="Platinum"><svg viewBox="0 0 24 24" class="icon"><circle cx="12" cy="12" r="9"/></svg><span class="val">{{coins.pp}}</span></div>
  <div class="coin" data-tooltip="Gold"><svg viewBox="0 0 24 24" class="icon"><circle cx="12" cy="12" r="9"/></svg><span class="val">{{coins.gp}}</span></div>
  <div class="coin" data-tooltip="Silver"><svg viewBox="0 0 24 24" class="icon"><circle cx="12" cy="12" r="9"/></svg><span class="val">{{coins.sp}}</span></div>
  <div class="coin" data-tooltip="Copper"><svg viewBox="0 0 24 24" class="icon"><circle cx="12" cy="12" r="9"/></svg><span class="val">{{coins.cp}}</span></div>
</div>
